/* CSS declarations go here */

/*@font-face {
    font-family: 'icomoon';
    src:url('icons/icomoon/icomoon.eot');
    src:url('icons/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
        url('icons/icomoon/icomoon.woff') format('woff'),
        url('icons/icomoon/icomoon.ttf') format('truetype'),
        url('icons/icomoon/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/


@font-face {
    font-family: 'icomoon';
    src:url('icons/icomoon/icomoon.eot?-o0h7nb');
    src:url('icons/icomoon/comoon.eot?#iefix-o0h7nb') format('embedded-opentype'),
        url('icons/icomoon/icomoon.woff?-o0h7nb') format('woff'),
        url('icons/icomoon/icomoon.ttf?-o0h7nb') format('truetype'),
        url('icons/icomoon/icomoon.svg?-o0h7nb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]::before {
    font-family: 'icomoon';
    content: attr(data-icon);
    margin-right: 8px;
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

#sidebar {
    background:red;
    width:25%;
    height:100%;
    position:fixed;
    /*top:50px;*/
    left:0;
}

/*Place Icons on the bottom of the sidebar*/
#icons {
    position: absolute;
    bottom: 0px;
    /*height: 40px;*/

    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.icon-check-in, .icon-map, .icon-friends {
    /*width: 150px;*/
    height: 125px;
    /*width: 33%;*/
    vertical-align: top;
    display: inline-block;
    *display: inline;
    zoom: 1
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

#pageRightSide {
    width: 75%;
    margin-left:250px;
}

#map {
    margin-left:250px;
}
