/* CSS declarations go here */

#map {
    margin-left:200px;
}

#sidebar {
    background:red;
    width:200px;
    height:300px;
    position:fixed;
    top:50px;
    left:0;
}

#pageRightSide {
    margin-left:200px;
}