#map {
    float: right;
    width: 75%;
}

.busy {
        background: red;
        border: 2px solid #fff;
        padding: 3px;
}

.available {
        background: green;
        border: 2px solid #fff;
        padding: 3px;
}

.here {
        background: turquoise;
        border: 2px solid #fff;
        padding: 3px;
}