#CheckInBox{
    width: 45%;
    height: 60%;
    
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    font-family: 'Roboto Slab', serif;
}

p {
    font-family: 'Metal Mania', cursive;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
    position:relative;

}

.check-in-info {

    position: absolute;
    top: 50%;
    left: 50%;
    height: 70%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}



input[type=text] {
    position:relative;
    height:12%;
    width:100%;
    font-family: 'Roboto Slab', serif;
}

input[type=number] {
    position:relative;
    height:14%;
    width:100%;
}

input[type=submit] {
   /* margin-top: 30px;*/
    position:relative;
    margin: auto;
    margin-top: 30px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

input:invalid {
  border: 1px solid red;
}

label {
     float: left;
    clear: none;
    display: block;
    padding: 0 3em 0 4px;
}

input[type=radio], input.radio {
    float: left;
    clear: none;
    margin: 2px 4px 0 0;
}