<template name="checkInOverlay">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Metal+Mania' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  </head>

	<h2>{{title}}</h2>

	<div id ="CheckInBox">
		<form class="check-in-info">
			Status: <input type="text" name="status" maxlength="140" placeholder="I am up to no good" />
			<br>
			<br>
			Duration (minutes): <input type="number" min="0" pattern="\d+" name="duration" value="90"/>
			<br>
			<br>
			Availability:
			<br>

				<input type="radio" name="state" value="available" checked="checked">
				<label for="available" style="color:green">Available</label>

				<input type="radio" name="state" value="busy">
				<label for="busy" style="color:red">Busy</label>
			<br>
			<br>
			<br>
			<br>
	  	<input type="submit" class="btn btn-default" value="Check In">
	  </form>
	</div>
</template>
