<template name="checkInOverlay">
	<h2>{{title}}</h2>

	<div id ="CheckInBox">
		<form class="check-in-info">
			I am <input type="text" name="status" maxlength="140" placeholder="up to no good" />
			<br>
			for <input type="number" min="0" pattern="\d+" name="duration" value="90"/> mins
			<br>
			and
			<br>
<!-- 			<span style="color:green"> -->
				<input type="radio" name="state" value="available" checked="checked">
				<label for="available" style="color:green">Available</label>
<!-- 			</span>
			<span style="color:red"> -->
				<input id="busy" type="radio" name="state" value="busy">
				<label for="busy" style="color:red">Busy</label>
<!-- 			</span> -->
			<br>

	                	<input type="submit" class="btn btn-default" value="Submit">
	             </form>
	</div>
</template>
