<template name="friends">
	<div id="friendsPage">
		<h2>
			Your (Facebook + Marauders ?) friends
		</h2>

		<ul>
			{{#each users }}
				<br>
				{{ this.name }}
        {{#if this.friend}}
        <button class="friend-remove">Remove friend</button>
        {{ else }}
          {{ #if this.request }}
            {{ #if this.requested }}
              <button class="" >Pending</button>
            {{ else }}
              <button class="friend-accept" >Accept request</button>
            {{/if}}
          {{ else }}
          <button class="friend-request">Friend request</button>
          {{/if}}
        {{/if}}


			{{/each}}
		</ul>

	</div>
</template>
