<template name="friends">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Metal+Mania' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  </head>
	<div id="friendsPage">
		<h2>
			<div class="friends_title">Friends</div>
		</h2>

		<ul>
			{{ #each facebookFriends }}
				<br>
        <img style="float: left;" class="picture" src= {{this.pic}} alt="" />
        <!-- <div class="name"> {{ this.name }} </div> -->
        <p style="float: left;" class="friends_name"> {{ this.name }} </p> <div class="friends_button">
        {{ #if this.friend }}
        <button id="friend-remove" class="btn btn-default">Unfriend</button>
        {{ else }}
          {{ #if this.request }}
            {{ #if this.requested }}
              <button id="friend-cancel-request" class="btn btn-default">Cancel Request</button>
            {{ else }}
              <button id="friend-accept" class="btn btn-default">Accept Request</button>
            {{/if}}
          {{ else }}
          <button id="friend-request" class="btn btn-default">Add Friend</button>
          {{/if}}
        {{/if}} </div><div style="clear: both;"></div>
			{{/each}}
		</ul>

	</div>
</template>
