:link:hover {
    text-decoration: none;
}

#sidebar {
    font-family: 'Roboto Slab', serif;
    background: white;
    height:100%;
    overflow: hidden;
}
#searchbox{
    padding-top: 20px;
    position:absolute;
}

/*Place Icons on the bottom of the sidebar*/
#icons {
    position:absolute;
    bottom: 0px;
}

#icons span {
    display:inline-block;
    width:50px;
}

#icons:after {
    display:inline-block;
    width:100%;
    content:'';
}

.icon {
    height:80px;
    width: auto;
    bottom: 0px;

    padding-right:5px;
    padding-left:5px;

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.icon:hover, .icon:focus, .icon:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#profilebox {
    border-color: #FAEBD7;
}

#friendsList {
    margin-left: 0px;
    font-family: 'Metal Mania', cursive;
    text-align: center;
    font-size: 30px;
    height: 45%;
}

.scrollable{
    padding-top: 20px;
    border: 1px solid;
    height: auto;
    max-height: 100%;
    overflow-x: hidden;
    height:100%;
}


.friend{
    background-color: white;
    border-color: gray;
    padding: 1px;
    text-align: left;
    width: 100%;
    position: relative
}

.friend .span {
    vertical-align: middle;
    display: inline-block;
    position: absolute;               /* 2 */
    top: 50%;                         /* 3 */
 /* // transform: translate(0, -50%)*/
}

/*ul { margin: 0; padding: 0; }*/

.friend .icon {
    padding: 3px;
    height:50px;
    border-radius: 3px;
    position: relative;
    z-index: 2;
    width: 100%;
    border: 5px solid;
    background-image: url("/backgrounds/background.png");
}

.friend .icon.available {
    border-color: lime;
}

.friend .icon.busy {
    border-color: red;
}

.friend .icon.unavailable {
    border-color: gray;
}

.friend img {
    display: block;
    border-radius: 3px;
}


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}