<template name = "sideBar" >
	<div id="sidebar">
    		<h3> [Search for a friend]</h3>

    		<div id="friendsList">
    		Your Marauder friends:
			{{#each getMyMarauderFriends}}
				<br>
				{{ name }}
			{{/each}}
		</div>
 		<div id="icons">
 			<!-- TODO : Instead of the map, maybe just do a pop up. -->
			<!-- <a href="javascript:;" > -->
			<a href= "{{pathFor route='maraudersMap'}}">
				<span class="check-in" data-icon="&#xe900;" ><br> Check In!</span>
			</a>

			<!-- <button class="js-overlay-open">Meep</button> -->

			<a href="{{pathFor route='maraudersMap'}}">
				<!-- use 902 for white map -->
				<span class="icon-map" data-icon="&#xe901;" ><br> View Map</span>
			</a>
			<a href="{{pathFor route='friends'}}" >
				<span class="icon-friends" data-icon="&#xe903;" ><br> Friends </span>
			</a>
		</div>
		<span class="stretch"></span>
	</div>
</template>