/* CSS declarations go here */
@font-face {
    font-family: 'icomoon';
    src:url('icons/icomoon/icomoon.eot?-o0h7nb');
    src:url('icons/icomoon/comoon.eot?#iefix-o0h7nb') format('embedded-opentype'),
        url('icons/icomoon/icomoon.woff?-o0h7nb') format('woff'),
        url('icons/icomoon/icomoon.ttf?-o0h7nb') format('truetype'),
        url('icons/icomoon/icomoon.svg?-o0h7nb#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[data-icon]::before {
    font-family: 'icomoon';
    content: attr(data-icon);
    margin-right: 8px;
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

#sidebar {
    background:#FAEBD7;
    float: left;
    width:25%;
    height:100%;
    overflow: hidden;
}

#friendsList {
    margin-left: 5%;
}

/*Place Icons on the bottom of the sidebar*/
#icons {
    width:25%;
    text-align:justify;
    position:absolute;
    bottom: 0px;
    padding-left:10px;
    padding-right:10px;
}

#icons span {
    display:inline-block;
    width:50px;
}

#icons:after {
    display:inline-block;
    width:100%;
    content:'';
}


/*
.modal {
    background-color:#fff;
    display:none;
    width:350px;
    padding:15px;
    text-align:left;
    border:2px solid #333;

    opacity:0.8;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    -moz-box-shadow: 0 0 50px #ccc;
    -webkit-box-shadow: 0 0 50px #ccc;
}

.modal h2 {
    background:url(/media/img/global/info.png) 0 50% no-repeat;
    margin:0px;
    padding:10px 0 10px 45px;
    border-bottom:1px solid #333;
    font-size:20px;
}*/