<template name = "sideBar" >
  <head>
    <link href='https://fonts.googleapis.com/css?family=Metal+Mania' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet' type='text/css'>
  </head>

	<div id="sidebar">

		<div id="profilebox">
			<img src="{{currentUser.profile.picture}}" alt="picture">
	      	{{> loginButtons}}
      	</div>

      		<!-- Search for Friends  -->
		{{> searchBox}}

		<!-- List my Marauder Friends -->
    		<div id="friendsList">
    			Your Marauder Friends
    			<div class="scrollable">
    			<ul class="list-unstyled ">
				{{#each marauderFriends}}
					<li> <div id="clickonFriend" class="friend">
						<div class="box {{this.checkin.availability}}">

							<img style="float: left;" src={{this.profile.picture}} alt="" />
							<span><p class="name"> {{ this.profile.name }} </p></span>

						</div>
					</div></li>
				{{/each}}
			</ul>
			</div>
		</div>


 		<div id="icons">


 		{{#if ifRouteIs 'friends'}}

			<a href="{{pathFor route='maraudersMap'}}">
				<img id="map-icon" class="icon" src="/icons/map.png" data-toggle="tooltip" data-original-title="View Map" alt="View Map" data-placement="top" >
			</a>


				{{#if isCheckedIn}}
					<img id="check-out" class="icon" src="/icons/check-out.png" data-toggle="tooltip" data-original-title="Check Out" alt="Check Out" data-placement="top">
				{{ else }}
					<a href="{{pathFor route='maraudersMap'}}">
						<img id="check-in" class="icon" src="/icons/check-in.png" data-toggle="tooltip" data-original-title="Check In" alt="Check In" data-placement="top">
					</a>
				{{/ if}}


			<a href="{{pathFor route='friends'}}">
				<img id="friends-icon" class="icon" src="/icons/Friends.png" data-toggle="tooltip" data-original-title="Manage Friends" alt="Manage Friends" data-placement="top">
			</a>

		{{ else }}

			<img id="locate" class="icon" src="/icons/locate.png" data-toggle="tooltip" data-original-title="My Location" alt="View Map" data-placement="top" >

			{{#if isCheckedIn}}
				<img id="check-out" class="icon" src="/icons/check-out.png" data-toggle="tooltip" data-original-title="Check Out" alt="Check Out" data-placement="top">
			{{ else }}
				<img id="check-in" class="icon" src="/icons/check-in.png" data-toggle="tooltip" data-original-title="Check In" alt="Check In" data-placement="top">
			{{/ if}}

			<a href="{{pathFor route='friends'}}">
				<img id="friends-icon" class="icon" src="/icons/Friends.png" data-toggle="tooltip" data-original-title="Manage Friends" alt="Manage Friends" data-placement="top">
			</a>

		{{/ if}}

		</div>
		<span class="stretch"></span>
	</div>
</template>
